<!DOCTYPE html>
<html>
  <head>
    <title>Techpitgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%#viewportでスマートフォンのスクリーンでの拡大・縮小に関する設定ができます。initial-scaleでズーム倍率の初期値を設定します。initial-scale=1とすることで1倍の拡大率、つまり拡大や縮小しない画面を見せることができる%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <div id="wrapper">
    <%= render 'partial/navbar' if current_user %>
    <%#_partial/navbar部分テンプレート呼び出し、「if current_user」という条件式を追加することでログインしているかを確認してログインしていなかった場合にNavbarを非表示にするということが可能%>
    
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%#メールアドレスが正しくない状態でログインしようとしたときに、ログインに失敗した旨をメッセージとして表示%>

    <div class="container">
      <%= yield %>
    </div>

      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
